
.two-cards > * {
  background-color: #fff;
  box-shadow: 3px 3px 6px -1px rgba(186,177,186,1);
}

.about-card p {
   padding: 20px;
   font-size: 13px;
}

.contact-card {
  padding: 5px;
  text-align: center;
  & ul {
    list-style: none;
    padding-left: 0px;
  }
}

.a-card {
  display: none;
}

@media(min-width: 510px) {
  .two-cards > * {
    margin: 10px 50px 0px 50px;
  }
}

@media(min-width: 992px) {
  .two-cards > * {
    margin: 10px 300px 0px 300px;
  }
}
