

.two-cards > * {
  background-color: #fff;
  box-shadow: 3px 3px 6px -1px rgba(186,177,186,1);

}

.about-card p {
   padding: 20px;
   font-size: 13px;
}

.contact-card {
  padding: 5px;
  text-align: center;
  & ul {
    list-style: none;
    padding-left: 0px;
  }
}

  .a-card {
    display: none;
  }



@media(min-width: 510px) {
  .two-cards > * {
    margin: 20px 50px 0px 50px;
  }
}

@media(max-width: 557px) {

  .about-container {
    height: auto;
    flex-direction: column;
  }

  .two-cards {
    margin-bottom: 0px;
    padding: 40px;
  }

  .about-card p {
   padding: 10px;
   font-size: 13px;
  }

  .contact-card {
   padding: 10px;
   font-size: 13px;
  }
}


@media(min-width: 991px) {
  .two-cards > * {
    margin: 20px 300px 0px 300px;
  }
}
