.two-cards {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.about-card {
 padding: 20px;
 font-size: 14px;
}

.contact-card {
  padding: 20px;
  font-size: 14px;
}

.a-card {
  display: none;
  background-color: #fff;
  box-shadow: 3px 3px 6px -1px rgba(186,177,186,1);
  max-width: 400px;
  margin: 20px 0px 10px 30px;
  border-radius: 10px;
}
