html {
  height: 100%;
}
body {
  position: relative;
  background: linear-gradient(#f5efef, #f7ad7b);
  // background-image: image-url("beans2.jpg"), linear-gradient(#f5efef, #f7ad7b);
  background-size: cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.two-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 70px);
}

.logo-container {
  display: none;
}

.about-card {
 padding: 20px;
 font-size: 14px;
}

.contact-card {
  padding: 20px;
  font-size: 14px;
}

.a-card {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 3px 3px 6px -1px rgba(186,177,186,1);
  max-width: 400px;
  margin: 20px 5px 10px 5px;
  border-radius: 10px;
}


.testing {
  height: 200px;
  width: 200px;
}


@media(min-width: 600px) {
  .two-cards {
    align-items: flex-start;
  }

  .a-card {
    margin: 20px 0px 10px 30px;
  }
}

@media(min-width: 800px) {
  .home-background {
    height: 310px;
    width: 350px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-image: image-url("fwegfweg.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}


@media(max-width: 922px) {
  .slides-to-hide {
    display: none;
  }
}

@media(max-width: 768px) {
  .a-card {
    max-width: 300px;
    padding: 15px;
  }
}
