html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  background: linear-gradient(#f5efef, #806d77);
}

* p {
  margin-bottom: 0px !important;
}

.two-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 70px);
  transition: all 0.3s ease;
  & p {
    margin: 0px !important;
  }
}

.logo-container {
  display: none;
}

.about-card {
 padding: 20px;
 font-size: 14px;
}

.contact-card {
  padding: 20px;
  font-size: 14px;
}

.a-card {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 3px 3px 6px -1px rgba(186,177,186,1);
  max-width: 400px;
  margin: 20px 5px 10px 5px;
  border-radius: 10px;
}

.testing {
  height: 200px;
  width: 200px;
}

@media(min-width: 400px) {
  .home-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    margin: 0;
    background-image: image-url("bean_japan.jpg"), linear-gradient(#f5efef, #b0b7d3);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

@media(min-width: 600px) {
  .two-cards {
    align-items: flex-start;
  }

  .a-card {
    margin: 20px 0px 10px 30px;
  }
}

@media(max-width: 768px) {
  .a-card {
    max-width: 300px;
    padding: 15px;
  }
}
