<div class="about-container">
  <div class="two-cards">
    <div class="about-card a-card">
      <p>My name is Ralph Kemp, and I'm a front end web developer, music producer, and lover of all things creative. My skills include Ruby on Rails, Javascript/jQuery, HTML5 and CSS, and I am currently learning React/Redux. I've been writing and producing music for the past 10 years, mainly using Logic Pro X. I also speak Spanish, and am studying Korean. </p>
    </div>
    <div class="contact-card a-card">
      <p><strong>contact:</strong></p>
      <ul>
        <li>
          <p>Ralphk3mp@gmail.com</p>
        </li>
        <li>
          <p>07447088737</p>
        </li>
      </ul>
    </div>
  </div>
</div>
