
  <div class="two-cards">
    <div class="about-card a-card">
      <p>Hello, my name's Ralph and I'm a full-stack web developer, music producer, and lover of all things creative.</p>
      <p> Have a look a couple of my most recent projects!</p>
    </div>
    <div class="contact-card a-card">
      <p>My skills include Ruby on Rails, Javascript/jQuery, HTML5 and CSS, and React/Redux. Currently teaching at <%= link_to 'Le Wagon', 'https://www.lewagon.com' %>. </p>
      <p>I've been writing and producing music for the past 10 years, mainly using Logic Pro X. I speak Spanish, and am studying Korean. I also doodle every now and then.</p>
      <p><a href="mailto:ralphk3mp@gmail.com?Subject=A%20Hello" target="_top">Drop me an message,</a> or take a look at <%= link_to 'my CV.', asset_path("Ralph_Kemp_CV_2017.pdf") %></p>
    </div>
  </div>
  <div class="slide-container">
  <div class="slides-to-hide">
    <div class="slide showw oneone"></div>
    <div class="slide twotwo"></div>
    <div class="slide threethree"></div>
  </div>
</div>


<!-- I'm adding this just so something is bloody changed on github ahhhh -->

