
  <div class="two-cards">
    <div class="about-card a-card">
      <p>Hello, my name's Ralph and I'm a full-stack web developer, music producer, and lover of all things creative.</p>
    </div>
    <div class="contact-card a-card">
      <p>I'm primarily a MERN stack developer, currently working on <%= link_to 'frgt.io', 'https://frgt.io' %>. I have taught at <%= link_to 'Le Wagon', 'https://www.lewagon.com' %>, and am currently working freelance.</p>
      <p>I've been writing and producing music for the past 10 years, mainly using Logic Pro X. I speak Spanish, and am studying Korean. I also illustrate and continuously doodle -  my latest drawings will be on here soon.</p>
      <p><a href="mailto:ralphk3mp@gmail.com?Subject=A%20Hello" target="_top">Drop me an message,</a> see my <a href="https://www.linkedin.com/in/ralphkemp">LinkedIn</a> or take a look at <%= link_to 'my CV.', asset_path("Ralph_Kemp_CV_2018.pdf") %></p>
    </div>
    <div class="home-background"></div>
  </div>


