<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url();">
    <div class="card-title">
      <h1><%= project.title %></h1>
      <h3><%= project.description %></h3>
    </div>
    <%= link_to "#", project_path(project), class: "card-link" %>
  </div>
</div>


