<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url();">
    <div class="card-title">
      <h1><%= project.name %></h1>
      <h3><%= project.description %></h3>
    </div>
    <a class="card-link" href="#" ></a>
  </div>
</div>
