.project-title {
  text-align: center;
  font-family: $headers-font;
  padding-top: 10px;
  margin-top: 30px;
}

.project-description {
  padding: 35px;
  margin-top: 15px;
  margin-bottom: 30px;
  & > p {
    font-size: 12px;
  }
}

.show-card {
  height: 400px;
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
}

.video-card {
  text-align: center;
}

.profile-gallery {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  // flex-directon: row;
}

.remove-project {
  text-align: center;
  margin-bottom: 30px;
}

.show-project-name {
  text-align: center;
}

.show-project-description {
  font-size: 13px;
}

.show-project-name {
  color: #fff;
}

.profile-gallery-img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  margin-right: 10px;
}

.project-desc-container {
  text-align: left;
  padding-left: 10px;
}

.pagination-show {
  margin-top: 10px;
}

.desktop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 35% 35%;
  height: calc(100vh - 160px);
  grid-row-gap: 20px;
  padding: 20px;
  margin-bottom: 40px;
}

.desktop-video {
  text-align: left;
}

.grid-video {
  grid-row: 2 / span 2;
  grid-column: 2 / span 1;
}

.grid-description {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}

.grid-photos {
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
}



@media(min-width: 660px) {
  .project-description p {
    margin: 25px;
  }
}

@media(min-width: 840px) {
  .project-description p {
    margin: 35px;
  }
}

@media(max-width: 1280px) {
  .desktop-grid {
    grid-row-gap: 60px;
  }
}

@media(max-height: 840px) {
  .desktop-grid {
    grid-row-gap: 60px;
  }
}













