.project-title {
  text-align: center;
  font-family: $headers-font;
  padding-top: 10px;
  margin-top: 20px;
}

.album-desc-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-project-description {
  width: 80%;
  padding: 20px;
  color: white;
  margin-top: 15px, 10px, 30px, 10px;
  & > p {
    font-size: 12px;
  }
}

.show-container {
  display: flex;
  flex-direction: column;
}

.show-card {
  height: 360px;
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
}

.video-card {
  text-align: center;
}

.profile-gallery {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.remove-project {
  text-align: center;
  margin-bottom: 30px;
}

.show-project-name {
  text-align: center;
  color: #fff;
}

.profile-gallery-img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  margin-right: 10px;
}

.project-desc-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-project-description {
  font-size: 13px;
  color: white;
  width: 500px;
}

.pagination-show {
  margin-top: 10px;
}

@media(min-width: 750px) {
  .mobile-project-description {
    width: 60%;
  }
}














