.project-title {
  text-align: center;
  font-family: $headers-font;
  padding-top: 10px;
  margin-top: 30px;
}

.project-description {
  padding: 35px;
  margin-top: 15px;
  margin-bottom: 30px;
  & > p {
    font-size: 12px;
  }
}

.show-container {
  display: flex;
  flex-direction: column;
}

.show-card {
  height: 400px;
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
}

.video-card {
  text-align: center;
}

.profile-gallery {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  // flex-directon: row;
}

.remove-project {
  text-align: center;
  margin-bottom: 30px;
}

.show-project-name {
  text-align: center;
}

.show-project-description {
  font-size: 13px;
}

.show-project-name {
  color: #fff;
}

.profile-gallery-img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  margin-right: 10px;
}

.project-desc-container {
  text-align: left;
  padding-left: 10px;
}

.pagination-show {
  margin-top: 10px;
}

@media(min-width: 660px) {
  .project-description p {
    margin: 25px;
  }
}

@media(min-width: 840px) {
  .project-description p {
    margin: 35px;
  }
}

@media(max-width: 1280px) {
  .desktop-grid {
    grid-row-gap: 60px;
  }
}

@media(max-height: 840px) {
  .desktop-grid {
    grid-row-gap: 60px;
  }
}













