.footer {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  position:fixed;    /*Here's what sticks it*/
  bottom:0;          /*to the bottom of the window*/
  left:0;
  margin-top: 40px;
}

.footer-text p {
  color: white;
  text-decoration: none;
  font-size: 12px;
  margin: 0px !important;
}

@media(min-width: 1280px) {
  .footer {
    height: 40px;
  }
}
