.footer {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: left;
  height: 30px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  position: absolute;
  bottom: 5px;
}

.footer-text p {
  color: #808080;
  text-decoration: none;
  font-size: 12px;
  padding-right: 30px;
}

@media(min-width: 1280px) {
  .footer {
    height: 40px;
  }
}

@media(max-width: 400px) {
  .footer {
    bottom: -10px;
    justify-content: center;
  }

  .footer-text p {
    padding-right: 0px;
  }
}


